.whole{
    width: 100%;
}
.head{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 50px auto;
}
.head .logo{}
.head .logo a{
    color:rgb(0, 119, 255);
}
.head .logo a h1{}
.head .menu{}
.head .menu ul{}
.head .menu ul a{
    color:rgb(0, 119, 255);
}
.head .menu ul a li{
    text-align: right;
}

/* 나의 정보 */
.info{
    width: 80%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}
.info img{
    width: 45%;
}
.info .text{
    margin: 0 60px;
    font-family: 'Gothic A1';
}
.info .text p:nth-of-type(1){
    font-family: 'Aeonik TRIAL';
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 119, 255);
}
.info .text .myself{
    margin: 30px auto;
}
.info .text .myself p{
    font-size: 16px;
}
.info .text .myself p:nth-of-type(1){
    font-family: 'Gothic A1';
}
.info .text .myself .history{
    width: 500px;
    margin: 50px 0;
    border-bottom: 1px solid rgb(0, 119, 255);
    position: relative;
}
.info .text .myself .history span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
    position: absolute;
    bottom: -5px; left: 0;
}
.info .text .myself .history .a{
    bottom: -5px; left: 13px;
}
.info .text .myself .history .b{
    bottom: -5px; left: 93px;
}
.info .text .myself .history .c{
    bottom: -5px; left: 170px;
}
.info .text .myself .history .d{
    bottom: -5px; left: 300px;
}
.info .text .myself .history .e{
    bottom: -5px; left: 410px;
}
.info .text .myself .years{
    position: relative;
    font-size: 14px;
}
.info .text .myself .years span{
    display: block;
    position: absolute;
}
.info .text .myself .years .a{
    top: -35px; left: 0;
}
.info .text .myself .years .b{
    top: -35px; left: 79px;
}
.info .text .myself .years .c{
    top: -35px; left: 157px;
}
.info .text .myself .years .d{
    top: -35px; left: 290px;
}
.info .text .myself .years .e{
    top: -35px; left: 400px;
}

/* 스킬 */
.skills{
    width: 80%;
    margin: 200px auto;
}
.skills h2{
    font-family: 'Gothic A1';
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 119, 255);
    text-align: center;
}
.skills .parts{
    display: flex;
}
.skills .parts .part{
    margin: 0 20px;
}
.skills .logo{
    width: 80%;
    margin: 50px auto;
    padding: 20px 0;
    text-align: center;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
}
.skills .logo img{
    width: 30%;
    /* display: block; */
    margin: 10px auto;
}
.skills .logo p{
    margin: 10px 0;
}
.skills .logo p:nth-of-type(1){
    font-family: 'Gothic A1';
    font-weight: bold;
    color: rgb(56, 56, 56);
    text-align: center;
}
.skills .logo p:nth-of-type(2){
    font-family: 'Gothic A1';
    color: rgb(126, 126, 126);
}

