*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gothic A1';
    src: url('../font/GothicA1-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bolgart Display';
    src: url('../font/BolgartDisplay.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Aeonik TRIAL';
    src: url('../font/AeonikTRIAL-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Aeonik TRIAL';
    src: url('../font/AeonikTRIAL-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hanson';
    src: url('../font/HansonBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
    width: 100%;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h5, figure, p{margin: 0;}
a{text-decoration: none; margin: 0; padding: 0;}
ul, li{list-style-type: none; margin: 0; padding: 0;}
img{vertical-align: middle;}
table{border-collapse: collapse;}