.whole{
    width: 100%;
}
.head{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 50px auto;
}
.head .logo{}
.head .logo a{
    color:rgb(0, 119, 255);
}
.head .logo a h1{
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: bolder;
}
.head .menu{}
.head .menu ul{}
.head .menu ul a{
    color:rgb(0, 119, 255);
}
.head .menu ul a li{
    text-align: right;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 600;
}

/* 컨택 */
.contact{
    width: 80%;
    margin: 80px auto;
}
.contact div{
    margin: 30px 0;
}
.contact div img{
    width: 4.5%;
}
.contact div p{
    font-family: 'Aeonik TRIAL';
    font-size: 16px;
    margin: 5px 0;
}
.contact div p a{
    text-decoration : none;
    color: rgb(56, 56, 56);
}