.whole{
    width: 100%;
}
.head{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 50px auto;
}
.head .logo{}
.head .logo a{
    color:rgb(0, 119, 255);
}
.head .logo a h1{}
.head .menu{}
.head .menu ul{}
.head .menu ul a{
    color:rgb(0, 119, 255);
}
.head .menu ul a li{
    text-align: right;
}
