.whole{
    width: 100%;
}
.head{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 50px auto;
}
.head .logo{}
.head .logo a{
    color:rgb(0, 119, 255);
}
.head .logo a h1{
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: bolder;
}
.head .menu{}
.head .menu ul{
    color:rgb(0, 119, 255);
}
.head .menu ul li{
    text-align: right;
    font-family: 'Montserrat';
    font-size: 25px;
    /* font-weight: 600; */
}

/* 메인 */
.main{
    width: 80%;
    margin: 80px auto;
    color: #000;
    position: relative;
}
.main .text{}
.main .text .fadein{
    font-family: 'Gothic A1';
    font-size: 40px;
    animation: fadein 3s ease-in-out;
}
@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.main .text p:nth-of-type(2){
    font-family: 'Gothic A1';
    font-size: 15px;
    margin: 50px 0;
    animation: fadein 4s ease-in-out;
}
.main img{
    position: absolute;
    top: -80px; left: 650px;
    animation: fadein 6s ease-in-out;
}

/* 작업물 슬라이드 */
.slide{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}
.slide .workthumb{
    width: 50%;
}
.slide .workthumb img{
    width: 100%
}
.slide .workthumb h2{
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 10px 0;
}
.slide .workthumb p{
    font-family: 'Montserrat';
    font-size: 16px;
    color: #000
}

/* top 버튼 */
.topbtn a{
    padding: 23px 20px;
    background-color:rgb(201, 255, 51);
    color: deeppink;
    text-decoration: none;
    border-radius: 50%;
    position: fixed;
    right: 65px; bottom: 50px;
    font-family: 'Montserrat';
    font-weight: 600;
}
