.whole{
    width: 100%;
}
.head{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 50px auto;
}
.head .logo{}
.head .logo a{
    color:rgb(0, 119, 255);
}
.head .logo a h1{
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: bolder;
}
.head .menu{}
.head .menu ul{}
.head .menu ul a{
    color:rgb(0, 119, 255);
}
.head .menu ul a li{
    text-align: right;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
}

/* 작업물 */
.work{
    width: 80%;
    margin: 80px auto;
}
.work .workthumb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.work .workthumb figure{
    width: 41.5%;
    margin-bottom: 70px;
}
.work .workthumb figure img{
    width: 100%;
}
.work .workthumb figure h2{
    font-family: 'Aeonik TRIAL';
    font-size: 20px;
    font-weight: normal;
    color: rgb(56, 56, 56);
    margin: 10px 0;
}
.work .workthumb figure p{
    font-family: 'Aeonik TRIAL';
    font-size: 16px;
    color: rgb(126, 126, 126)
}

/* top 버튼 */
.topbtn a{
    padding: 23px 20px;
    background-color:rgb(0, 119, 255);
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    position: fixed;
    right: 65px; bottom: 50px;
}